<div class="container">
  <div class="about-visual">
  </div>
  <p class="about"> -- ABOUT FIND ME --</p>
  <div class="about-content">
    <div class="about-content1">
      <p class="about-heading1"><%= image_tag 'logo1.png', :size => '150x75' %>　って何？</p>
      <p>ペットを譲りたい人とペットを探している人を繋ぐサイトです。<br>
      <p>利用者さん同士が直接やりとりし、引き渡しまで各自で行います。都道府県別で検索できるので近隣の募集だけを閲覧することも可能です。</p>
        ・育てられない動物を放棄する前に<br>
        ・ペットショップから動物を飼う前に<br><br>
        是非一度このサイトを利用してみてください。</p>
    </div>
    <div class="about-content2">
      <p class="about-heading">動物を引き取りたい方 <i class="fas fa-hand-holding-heart"></i></p>
      <p>飼い主さん募集の動物たちは会員登録せずにご覧になれますが、
        投稿者さんとのやりとりは会員登録が必要になります。</p><br>
      <p>会員登録後はコメントやダイレクトメッセージで投稿者さんと直接やりとりが可能です。</p>
    </div>
    <div class="about-content3">
      <p class="about-heading">動物を譲りたい方 <i class="fas fa-ribbon"></i></p>
      <p>飼い主さん募集の動物の投稿は会員登録が必要になります。
      ペットを引き取りたい方が現れた場合はコメントやダイレクトメッセージを通してやりとりができます。</p><br>
      <p>新しい飼い主さんが見つかったら、ペット編集ボタンからステータスの変更をお願いします。</p>
    </div>
  </div>
</div>