<div class="container">
  <div class="about-visual">
  </div>
  <p class="about">ABOUT FIND ME</p>
  <div class="top-content">
    <div class="about-content1">
      <p class="about-heading1"><%= image_tag 'logo1.png', :size => '150x75' %>　って何？</p>
      <p>ペットを譲りたい人とペットを探している人を繋ぐサイトです。<br><br>
        育てられない動物を放棄する前に<br>
        ペットショップから動物を飼う前に<br>
        一度このサイトを利用してみてください。</p>
    </div>
    <div class="about-content2">
      <p class="about-heading">ペットを引き取りたい方</p>
      <p>飼い主さん募集の動物たちは会員登録せずにご覧になれますが、
        投稿者さんとのやりとりは会員登録が必要になります。また検討したい動物がいた場合は♡ボタンで保存できます。
        ダイレクトメッセージで投稿者さんとの直接やりとりも可能です。</p>
    </div>
    <div class="about-content3">
      <p class="about-heading">ペットを譲りたい方</p>
      <p>飼い主さん募集の動物の投稿は会員登録が必要になります。
      ペットを引き取りたい方が現れた場合はコメントやダイレクトメッセージを通してやりとりができます。</p>
    </div>
  </div>
</div>