<div class="container">

      <%= render 'pets/genre', genres: @genres %>
      <div class="main-visual">
        <div class="main-visual-content">
          <p class="visual-text">I'm waiting you find me...</p>
        </div>
      </div>


</div>