<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-visual">
        <div class="main-visual-content">
          <p class="visual-text">I'm waiting for your hand...</p>
        </div>
      </div>

      <div class="top-content">
        <div class="content">
          <p class="content-heading">WE ALL WAITING FOR YOU</p>
          <p class="content-p">あなたを待っている子たちがいます</p>
        </div>
        <div class="content-text">
          <p>Find MEは身寄りのない動物たちの未来を支援しています</p>
        </div>
      </div>
    </div>
  </div>
</div>