<div class="container" id="current_user" data-id="<%=current_user.id%>">
  <div class="row mt-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h2 class="heading">ダイレクトメッセージ</h2>
      <h2 style="text-align:center">
        <p>参加者</p>
        <% @entries.each do |e| %>
          <%= link_to e.user.full_name, user_path(e.user_id) %>
        <% end %>
      </h2>
      <div id="chats">
        <div id="messages" data-room_id="<%= @room.id %>">
          <% @messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>
        <form>
          <input type="text" id="chat-input" data-behavior="room_speaker", class="form-control" >
        </form>
      </div>
    </div>
  </div>
</div>
