/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #555555;
}

header {
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  height: 100px;
  border-bottom: 1px solid #F2F2F1;
}

.heading {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 20px;
}

.heading-user {
  padding-top: 20px;
  text-align: center;
}

#logo-head {
  margin-top: 0;
}

.welcome {
  padding-top: 33px;
  padding-left: 25px;
}

.nav-item {
  padding-top: 25px;
  padding-left: 25px;
}

.nav-item1 {
  padding-top: 25px;
  margin-left: 400px;
}

.main {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 100px;
}

body {
  height: 100%;
  margin: 0px;
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 50px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  padding: 0;
}

footer{
  position: absolute;
  bottom: 0; /*下に固定*/
  width: 100%;
  height: 50px;
  background-color: white;
  padding-top: 10px;
  margin-bottom: 0;
  text-align: center;
  border-top: 1px solid #F2F2F1;
}

.main-visual {
  background-image: image-url("top-dog.jpeg");
  height: 600px;
  background-size: cover;
  margin-top: 40px;
}

.main-visual-content {
  width: 77%;
  height: 600px;
  background-color: rgba( 0, 0, 0, 0.2);
}
.visual-text {
  color: #DDDDDD;
  font-size: 30px;
  padding: 80px 45px;
}
.about-visual {
  background-image: image-url("dog&cat.jpg");
  height: 500px;
  background-size: cover;
  margin-top: 40px;
}

.col-lg-3 {
  position: fixed;
}

.col-lg-8 {
  margin-left: 400px;
}

.side-bar {
  background-color: #F2F2F2;
}

.top-content {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.content {
  width: 650px;
  height: 300px;
}

.content-heading {
  padding-top: 120px;
  padding-left: 10px;
  font-size: 40px;
  font-family: 'IM Fell DW Pica SC', serif;
}

.content-p {
  padding-left: 130px;
}

.content-text {
  width: 240px;
  height: 300px;
}

.content-text p {
  padding-top: 150px;
  font-size: 15px;
}

.about-content {
  display: flex;
  justify-content: center;
}

.about-content1 {
  width: 30%;
  height: 300px;
  padding: 0 30px;
  border-right: 2px solid #ccc;
}
.about-content2 {
  width: 30%;
  height: 300px;
  padding: 0 30px;
  border-right: 2px solid #ccc;
}
.about-content3 {
  width: 30%;
  height: 300px;
  padding-left: 30px;
  margin-bottom: 80px;
}

.about-heading1 {
  font-size: 23px;
}

.about-heading {
  font-size: 23px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.about {
  font-size: 40px;
  text-align: center;
  font-family: 'IM Fell DW Pica SC', serif;
  padding-top: 90px;
  padding-bottom: 80px;
}

.pet-count {
  text-align: center;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 55px;
}
#back img {
  width: 50px;
}

.slick-next {
  right: 10px !important;
  z-index: 100;
 }

.slick-prev {
  left: 10px !important;
  z-index: 100;
 }

.t-text {
  color: #555555;
}

.login {
  height: 500px;
}

a {
  color: #555555;
}

.info {
  padding-right: 30px;
  text-align: center;
  float: right;
  color: #888880;
}

.sns {
  padding-left: 30px;
  text-align: center;
  float: left;
}