// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pet-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.pet-list {
  margin: 30px;
  line-height: 4px;
}

.pet-name {
  margin-top: 12px;
}

.search-bar {
  padding: 10px 0px;
  background-color: #F2F2F2;
}

.pet-random {
  background-color: #F2F2ED;
}

.pet-heading {
  padding-top: 60px;
  padding-left: 20px;
}

.user-info {
  text-align: center;
}

.mypage {
  background-color:	#F2F2ED;
}

.col-lg-9 {
  background-color:	#F2F2ED;
}

.background {
  background-color:	#F2F2ED;
  text-align: center;
}

.table-borderless {
  text-align: center;
}

.comments {
  padding-top: 60px;
  text-align: right;
}

.new-comment {
  text-align: left;
}

.share-links {
  margin-top: 80px;
}