<footer>
  <div class="sns">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-youtube"></i>
    <a href="">プライバシー</a>
    <a href="">·利用規約</a>
    <a href="">·サイトマップ</a>
    <a href="">·企業情報</a>
  </div>
  <div class="info">
    © 2021 Find_Me, Inc. All rights reserved·
  </div>
</footer>